<div id="login-block">
		<div class="face-name"> &nbsp; </div>
		<div class="short-desc-value">Welcome to e.mote&#0153;</div>
		<div class="instruction-welcome-code">
			<div class="welcome-text">
				You are about to experience <span class="bold-text">e.mote</span>&#0153;, a new <i>(and hopefully fun!)</i> way to give feedback on people, products or services.
				<br/><br/>
				And no worries, your <span class="bold-text">e.mote</span>&#0153; responses are anonymous
				 so you can express how you really feel. <br/><br/>
				Enjoy <span class="bold-text">"e.moting!"</span>.<br/><br/>
			</div>
			<div class="welcome-start">
				<div id="team-text"><span class="bold-text">The e.mote&#0153; Team</span></div>
				<div class="clear-both"></div>
			</div>
		</div>

		<div class="survey-code-win">
			<div id="survey-code-block">
				<div class="have-code">Have an e.mote Code?</div>
				<form id="survey-code-form">
					<div>
						<div class="input-code">
							<input type="text" value="Enter code" id="survey-code">
						</div>
						<div id="survey-loader-img">
							<img src="/images/browser/ajax-loader.gif">
						</div>
						<div class="clear-both"></div>
					</div>
					<div id="survey-error-block" class="error">
						e.mote code not recognized.<br/>Please try again or <a href="mailto:support@inspirationengine.com">email us</a>.
					</div>
					<div class="submit-button">
						<input type="image" src="/images/browser/submit_button.png">
					</div>
				</form>
			</div>
		</div>
	</div>		
	</div>
</div>

<script>
var preloadImages = [
	'/images/browser/emote_logo.png',
	'/images/browser/back_button.png',
	'/images/browser/next_button.png',
	'/images/browser/bg.jpg',
	'/images/browser/left_window_background.png',
	'/images/browser/emotion_picker_window.png',
	'/images/browser/submit_button.png',
	'/images/browser/ajax-loader.gif'
];
</script>