<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>EmoteThis</title>
	<!-- Preloader -->
	<style type="text/css">
		HTML, BODY { height: 100%; }
		#loading-mask {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #000000;
			z-index: 1;
		}
		#loading {
			position: absolute;
			color: white;
			font-size: 12px;
			top: 40%;
			left: 45%;
			z-index: 2;
		}
		#loading #loading-message {
			background: url('/images/browser/loader.gif') no-repeat left center;
			padding: 5px 30px;
			display: block;
		}
		#main-content{
			display: none;
			height: 100%;
		}
	</style>
	<link rel="Shortcut Icon" href="/favicon.ico"/>
	<link rel="stylesheet" href="/css/browser.css" type="text/css"/>
                            	
</head>
<body>
	<div id="loading-mask"></div>
	<div id="loading">
		<span id="loading-message"><span id="loading-percent">5</span>% Loading. Please wait...</span>
	</div>
	
	<div id="loading-win" style="display: none;">
	</div>
	
	<div id="main-content">
		<div id="header">
		<div id="header-central">
			<div id="short-desc">&nbsp;</div>
		</div>
		<div id="logo"><img src="/images/browser/emote_logo.png"/></div>
		<div id="navigation">
		<!-- 
			<div id="back-button">
				<img id="back-button-on" src="/images/browser/back_button.png" usemap="#back-button-map" />
				<map name="back-button-map">
					<area shape="poly" coords="0,12,10,24,53,24,53,0,10,0" href="#"/>
				</map>
			</div>
			<div id="next-button">
				<img id="next-button-on" src="/images/browser/next_button.png" usemap="#next-button-map" />
				<map name="next-button-map">
					<area shape="poly" coords="0,0,0,24,43,24,53,12,43,0" href="#"/>
				</map>
			</div>
			<div class="clear-both"></div>
		-->
		</div>
		<div class="clear-both"></div>
	</div>
			
		<div id="survey-area" class="blue-bg">
				

			<%= erb :_survey_body unless @survey.nil? %>
			<%= erb :_survey_login if @survey.nil? %>
			<% if @survey.nil? %>
				<script type="text/javascript">
					var surveyCodeRequire = true;
				</script>	
			<% end %>
	

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.3.js"></script>
	<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/js/jquery.preload.js"></script>
	<script type="text/javascript" src="/js/jquery.sudoSlider.js"></script>
	<!-- <script type="text/javascript" src="/js/curvycorners.js"></script> -->
	<script type="text/javascript" src="/js/jquery.validate.js"></script>

	<script type="text/javascript" src="/js/survey.js"></script>
	

</body>
</html>